.nav-section-client{
    align-items: self-end;
}

.nav-section-client .profile{
    display: flex;
    margin-top: 20px;
    margin-right: 40px;
    text-align: right;
    justify-content: end;
    white-space: nowrap;
}

.nav-section-client .profile-photo img{
    height: 50px;
    width: 50px;
    border-radius: 10px;
}
.nav-section-client .profile .text-muted{
    color: #9c9898;
}
.home-content{
    display: flex;
    margin-right: 40px;
}

.recent-orders{
    margin: auto;
    padding: 15px;
    height: 350px;
}

.recent-orders-card h2{
    margin-bottom: 20px;
    font-size: 32px;
    margin-right: 10px;
    font-weight: 700;
    padding: 20px;

}