html,
body {
  scroll-behavior: smooth;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EDF6F9;
}

.main-content {
  flex: 1;
}

.section1 {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
  margin-left: 150px;
  margin-bottom: 230px;
}

.title_s1 {
  font-size: 30px;
  font-weight: bold;
}

.highlight {
  color: #83C5BE;
}

.right-column img {
  margin-top: 50px;
  max-width: 100%;
  height: 570px;
  margin-right: 70px;
}

.benefits {
  position: relative;
  z-index: 10;
  margin-left: 100px;
  margin-right: 90px;
  display: flex;
  justify-content: flex-start;
  gap: 110px;
  background-color: #FCFFFD;
  list-style: none;
  border-radius: 10px;
  padding: 30px;
  margin-top: -120px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.benefits li {
  gap: 10px;
  font-weight: 500;
  display: flex;
  color: #333;
}

.benefits span {
  color: #83C5BE;
}

.btn-primary {
  margin-top: 30px;
  padding: 12px 24px;
  background-color: #83C5BE;
  color: #EDF6F9;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary:hover {
  background-color: #006D77;
}


.slider-section {
  display: none;
}
.slider-section.active {
  display: block;
}

.switch-buttons {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.switch-buttons button {
  padding: 10px 20px;
  border: none;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  background: #e0f2f1;
  color: #006D77;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.switch-buttons button.active {
  background-color: #83C5BE;
  color: #EDF6F9;
}

.card-list .card-item {
  list-style: none;
}

.card-list .card-item .card-link {
  user-select: none;
  width: 250px;
  height: 300px;
  display: block;
  background: #FCFFFD;
  padding: 18px;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}

.card-list .card-item .card-link:hover {
  border-color: #83C5BE;
  transform: translateY(-10px);
}

.card-list .card-item .card-link:active {
  cursor: grabbing;
}

.card-wrapper {
  max-width: 1150px;
  margin: 0 auto 35px;
  padding: 20px 10px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-bottom: 10px;
}

.title {
  color: #83C5BE;
  margin: 10px 0 10px;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-details {
  font-size: 12px;
  color: black;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

.card-button {
  height: 40px;
  width: 120px;
  display: block;
  margin: 20px auto 0;
  text-align: center;
  border: none;
  border-radius: 10px;
  background: #83C5BE;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  transition: 0.2s ease;
}

.card-list .card-item:hover .card-button {
  color: #fff;
  background: #006D77;
}


.swiper-pagination-bullet {
  height: 8px;
  width: 8px;
  opacity: 0.5;
  background: #83C5BE;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  color: #679f99;
  z-index: 10;
}
.swiper-button-prev{
  left: 150px;
}

.swiper-button-next{
  right: 150px;
}
.swiper-slide-button::after {
  font-size: 18px;
}